<% provide(:title, "New Campaign") %>
<% provide :toppage do  %>
	Create a new campaign
<%end%>

  <%= @user.name %>, thanks for your interest in creating a new campaign! To create a successful campaign, keep the following things in mind: <br>
  <br>
  1) ... 
  <br>
  2) ... 
  <br><br><br>
  Please ensure your following e-mail is correct: <%= @user.email %> 
  <br><br>
  


  
  
  
  
    <%= form_for(@petition) do |f| %>
	  	  <%= f.hidden_field :user_id, :value => current_user.id %>

	  <%= f.label "Campaign Name" %>
      <%= f.text_field :name %>
      <%= f.label "Campaign Description" %>
	  <%= f.text_area :description, :id=>"wysihtml5-textarea" %>

	  <br>
	    <%= submit_tag "Complete!", :name => 'done', class: "btn btn-large btn-primary" %>
		<%= submit_tag "Save", :name => 'almostdone', class: "btn btn-large btn-primary" %>
    <% end %>


<div id="wysihtml5-toolbar" style="display: none;">
 <div class="btn-group"> 
	  <a class = "btn" data-wysihtml5-command="bold" title="CTRL+B"><b>bold</b></a>
	  <a class = "btn" data-wysihtml5-command="italic" title="CTRL+I"><i>italic</i></a>
	  <a class = "btn" data-wysihtml5-command="underline" title="CTRL+U"><u>underline</u></a>
 </div>
  
 <div class="btn-group">
	  <a class="btn" data-wysihtml5-command="insertUnorderedList" title="Unordered List" href="javascript:;" unselectable="on"><i class="icon-list"></i></a>
	  <a class="btn" data-wysihtml5-command="insertOrderedList" title="Ordered List" href="javascript:;" unselectable="on"><i class="icon-th-list"></i></a>
	  <a class="btn" data-wysihtml5-command="Indent" title="Indent" href="javascript:;" unselectable="on"><i class="icon-indent-left"></i></a>  
	  <a class="btn" data-wysihtml5-command="Outdent" title="Outdent" href="javascript:;" unselectable="on"><i class="icon-indent-right"></i></a>
 </div>
 
 <div class="btn-group">
		<a class="btn" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="div" href="javascript:;" unselectable="on">Normal text</a>
		<a class="btn" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" href="javascript:;" unselectable="on">Heading 1</a>  
		<a class="btn" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" href="javascript:;" unselectable="on">Heading 2</a>
 </div>

  <!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
  <a class="btn" data-wysihtml5-command="createLink">insert link</a>
  <div data-wysihtml5-dialog="createLink" style="display: none;">
    <label>
      Link:
      <input data-wysihtml5-dialog-field="href" value="http://" class="text">
    </label>
    <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
  </div>
</div>



<script>
var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
  toolbar:      "wysihtml5-toolbar", // id of toolbar element
  parserRules:  wysihtml5ParserRules // defined in parser rules set 
});
</script>



