<% provide(:title, "New Petition") %>
<h1>Create a new petition</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@petition) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :description %>
      <%= f.text_area :description, :size => "40x8" %>
	  <%= f.file_field :pics %>
      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>