
<!--This is the form to share with friends via email-->

<h1>Share!</h1>

<h5>
Please help us reach our goals by sharing with your friends and family. Numbers matter!
</h5>

<%= form_tag((@user), :html => {:class => 'form-horizontal' }) do %>

	<% if signed_in? %>
		<% if @friendsleft.to_i == 5 %>
			<h2>You have 5 shares left </h2>
		<% else %>
			<% if (@friendsleft.to_i < 1 || @friendsleft.to_i == 1) %>
				<% if @friendsleft.to_i == 1 %>
					<h2>Only 1 friend left! </h2>
				<% else %>
					<h2>Thank You for sharing! </h2>
				<% end %>	
			<% else %>			
				<h2>You have <%= pluralize(@friendsleft, "friend") %> left to reach 5! </h2>
			<% end %>	
		<% end %>
		<h4><div id="left">Your e-mail:   </div></h4>
		<%= text_field_tag :email, nil, :value => current_user.email, class: "span4" %>
	<% else %>
		<h2>You have 5 shares left! </h2>
		<h4><div id="left">Your e-mail:   </div></h4>
		<%= text_field_tag :email, nil, :placeholder => "Your email here", class: "span4" %>
	<% end %>	
	
	<h4 id="left">Subject:</h4>
	<%= text_area_tag :subject,  nil, :rows => 1, class: "span6" %>	
   
	<h4 id="left">To:</h4>
	<%= text_area_tag :to, nil, :rows => 5, class: "span8", :placeholder => "Enter multiple email addresses separated by commas, spaces, or just pasted directly from your email"%>

	<h4 id="left">Message:</h4>
	<%= text_area_tag :message, nil, :rows => 5, class: "span8"%> <br />
		
	<% if signed_in? %>
		<%= submit_tag "Send", class: "btn btn-large btn-primary"%>
	<% else %>
		<%= link_to "Please sign in to share!", signin_path, class: "btn btn-large btn-primary" %>
	<% end %>	
	
<%end%>  

<div id="padd"></div>