
<!--This is the form to share with friends via email-->

<h1> 
	<span class="red">5</span> Friends
</h1>	

<p class="textwrap2">
	Help reach our goal by sharing with 5 friends and family. Numbers do make a difference!	

	<% if signed_in? %>
			<% if @friendsleft.to_i == 5 %>
				You have <span class="red">5 shares</span> left!
			<% else %>
				<% if (@friendsleft.to_i < 1 || @friendsleft.to_i == 1) %>
					<% if @friendsleft.to_i == 1 %>
						Only <span class="red">1</span>  left!
					<% else %>
						Thank You for sharing! 
					<% end %>	
				<% else %>			
					You have <span class="red"><%= pluralize(@friendsleft, "share") %></span> left to reach 5! 
				<% end %>	
			<% end %>
	<% else %>
		You have <span class="red">5 shares</span> left!
	<% end %>
</p>

<%= form_tag((@user), :html => {:class => 'form-horizontal' }) do %>
	<% if signed_in? %>
		<h4><div id="left">Your e-mail:   </div></h4>
		<%= text_field_tag :email, nil, :value => current_user.email, class: "span4" %>	
	<% else %>
		<h4><div id="left">Your e-mail:   </div></h4>
		<%= text_field_tag :email, nil, :placeholder => "Your email here", class: "span4" %>
	<% end %>	
	
	
	<h4 id="left">Subject:</h4>
	<%= text_area_tag :subject,  nil, :rows => 1, class: "span6" %>	
   
	<h4 id="left">To:</h4>
	<%= text_area_tag :to, nil, :rows => 5, class: "span8", :placeholder => "Enter multiple email addresses separated by commas, spaces, or just pasted directly from your email"%>

	<h4 id="left">Message:</h4>
	<%= text_area_tag :message, nil, :rows => 5, class: "span8"%> <br />
		
	<% if signed_in? %>
		<%= submit_tag "Send", class: "btn btn-large btn-primary"%>
	<% else %>
		<%= link_to "Please sign in to share!", signin_path, class: "btn btn-large btn-primary" %>
	<% end %>	
	
<%end%>  

<div id="padd"></div>