
<% if !current_page? root_path %>
	<% provide :title do  %>
		<% "Sign up" %>
	<%end%>
	<h1>Sign up</h1>
<% else %>
	<br />
<% end %>



<h3>
	Change 315 is a platform for collective action 	<br /><br /><br />
	The Internet has changed the world. <br />
	Never has it been so easy to communicate, collaborate and  be heard. In the interconnected world, the ability to change policies, 
	organizations and behavior are within reach. <br /><br /><br />

	What would you change?<br />
		<b>3 Votes</b> per person<br />
		<b>1 Campaign</b> is launched every 6 months, based on popular vote<br />
		For each campaign, we ask that everyone share with <b>5 Friends</b> to maximum reach <br /><br />

Change315 is a non-profit with a goal of making the world a better place, through the use of social networks and an interconnected populous. <br />
</h3>

	



<!-- Sign-up form --!>

<% if !current_page? root_path %>

<h3>Following signup, one verification e-mail will be delivered. Following this, 
1 email will be sent every 6 months, notifying you of a newly launched campaign. You can opt out
of our bi-annual e-mails at any point. The following information is required to put appropriate pressure on 
governemnets and organizations.
</h3><br /><br />

<div class="centers">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :country %>
	  <%= f.select :country, [['Canada','Canada'],['United States','United States'],['Mexico','Mexico'],['France','France'],['UK','UK']] %>
	  
      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %><br />

      <%= f.submit "Signup!", class: "btn btn-large btn-primary" %>
    <% end %>
</div><br /><br />
<% end %>

<!-- Skip signup form from root_path, or just Signin --!>

<div class="votes">
	<% if current_page? root_path %>
		<%= link_to "Sign up!", signup_path, class: "btn btn-large btn-primary" %><br />
		<%= link_to "Skip", petitions_path %>
	<% end %>
	<p>
		Already a user? <%= link_to "Sign in!", signin_path %>
	</p>
</div>