
<% if !current_page? root_path %>
	<% provide :title do  %>
		<% "Sign up" %>
	<%end%>
	<h1>Sign up</h1>
<% end %>


<% if current_page? root_path %>
	<br/>
	<h1> What's important to <i>you</i>?  </h1>	
	<img src="/images/front page logo.png" class="span6" />
	
	<h3>
	<div class="span6">
		 <br />
		<div id="logo2">GENERATION</div>
		<div id="logo2", class="yellow">3</div>
		<div id="logo2", class="orange">1</div>
		<div id="logo2", class="red">5</div>
		&nbsp is a platform for <i>collective action</i>. Follow these 3 steps or click <%= link_to "here", about_path %> to learn more!<br /><br />
		
		<!--If you could change <i>anything</i>, what would it be?	<br /><br />--!>
		<div class="span1">
		</div>
		<div class="span6">
		<b>1) Distribute</b>	<br />
		<b>2) Participate in</b>	<br />
		<b>3) Share with</b> <br />
		</div>
		<div class="span4">
		<b><span class="yellow">3</span> Votes</b>	<br />
		<b><span class="orange">1</span> Campaign</b>	<br />
		<b><span class="red">5</span> Friends</b> <br />
		</div>		

	</div>
	</h3><br />
	
<% end %>


<!-- Sign-up form --!>

<% if !current_page? root_path %>
<div>*You will <b>only</b> receive 1 email if a campaign you voted for is launched.* <br /><i>(We <u>also</u> hate spam!)</i></div><br/><br/>


		<%= form_for(@user) do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>

		  <%= f.label :name %>
		  <%= f.text_field :name %>

		  <%= f.label :email %>
		  <%= f.text_field :email %>

		  <%= f.label :country %>
		  <%= f.select :country, [['Canada','Canada'],['United States','United States'],['Mexico','Mexico'],['France','France'],['UK','UK']] %>
		  
		  <%= f.label :password %>
		  <%= f.password_field :password %>

		  <%= f.label :password_confirmation, "Confirmation" %>
		  <%= f.password_field :password_confirmation %>
			<div class="votes">
		  <%= f.submit "Signup!", class: "btn btn-large btn-primary" %>
		  </div>
		<% end %>

<% end %>

<!-- Skip signup form from root_path, or just Signin --!>

	<div id="right">
	<% if current_page? root_path %><br /><br />
		<%= link_to "Start!", petitions_path, class: "btn btn-large btn-primary", id: "belowbutton" %>
	<% end %>
		<div id="belowbutton">Already a user? <%= link_to "Sign in!", signin_path%></div>
	</div>
	
	<% if current_page? root_path %>
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<small class="centers">
	Generation315 is a non-profit with a goal of making the world a better place, through the use of social networks and an interconnected world. 
	</small>
	<% end %>
