
<% if !current_page? root_path %>
	<% provide :title do  %>
		<% "Sign up" %>
	<%end%>
	<h1>Sign up</h1>
<% else %>
	<br /><br /><br />
<% end %>



<h3>Working together to change the world has never been so easy. <br /><br />

			<div class="left">		Connected, we are strong. Connected, we will be heard. </div><br />
What would you change? 	<br />
	3 votes<br />
	1 campaign every 6 months, based on popular vote<br />
	Our ask: share with 5 friends<br /><br />

All we ask is your participation. Change315 will take care of the rest.



</h3>


	



<!-- Sign-up form --!>

<% if !current_page? root_path %>

<h3>Following signup, one verification e-mail will be delivered. Following this, 
1 email will be sent every 6 months, notifying you of a newly launched campaign. You can opt out
of our bi-annual e-mails at any point. The following information is required to put appropriate pressure on 
governemnets and organizations.
</h3><br /><br />

<div class="centers">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :country %>
	  <%= f.select :country, [['Canada','Canada'],['United States','United States'],['Mexico','Mexico'],['France','France'],['UK','UK']] %>
	  
      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %><br />

      <%= f.submit "Signup!", class: "btn btn-large btn-primary" %>
    <% end %>
</div><br /><br />
<% end %>

<!-- Skip signup form from root_path, or just Signin --!>

<div class="votes">
	<% if current_page? root_path %>
		<%= link_to "Skip", petitions_path %>
	<% end %>
	<p>
		Already a user? <%= link_to "Sign in!", signin_path %>
	</p>
</div>