<!DOCTYPE html>
<html>
  <head>
 <title><%= full_title(yield(:title)) %></title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
 <%= javascript_include_tag "application" %> 
 
 <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

 <%= stylesheet_link_tag    "application", media: "all" %>
    
  

	
	<%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <% if !current_page? root_path %>
  <body class="toot" id="greyback">
  <% else %>
  <body class="toot" id="whiteback">  
  <% end %>
	<div id="holder">
	<%= render 'layouts/header' %>	
	<% if (yield(:toppage)).present? %>
		<h1><%= infull_title(yield(:toppage)) %></h1>
	<%end%>
	<div class="container-fluid" id="body">
	  <div class="row-fluid">
		<div class="span2"></div>
			<div class="span8" id="white">
				<div class="buffer">
					<div class="span12" id ="sizer">
						<div id="headerspace"></div>
						<% flash.each do |key, value| %>
						<div class="alert alert-<%= key %>"><%= value %></div>
						<% end %>
						<%= yield %>
						<div id="push"></div>
					</div>
				</div> 
			</div>
		  </div>
	  </div>
	<%= render 'layouts/footer' %>
	</div>
  </body>
</html>